@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

*, *::before, *::after {margin:0; padding:0; box-sizing: inherit;}

body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: clamp(2.8rem, 10vw, 3.2rem);
  text-align: center;
}

li {
  font-size: clamp(1.3rem, 4vw, 1.6rem);
}

.done{
  text-decoration: line-through;
}

main {
  width: 89%;
  margin: 0 auto;
  margin-top: 3%;
  padding: 15px; 
  border-radius: 13px;
  background-color: rgb(235, 234, 234);
}